.create_button
{
	text-align:center;
    margin-top: 50px;
}
#attrib_value_color_div
{
	display: none;
}
.color_box
{
	border: 1px solid;
    height: 24px;
    width: 50px;
}
.wk-table-head
{
	width: 100%;
	height: 35px;
	padding: 8px;
	margin-bottom: 10px;
}
.head_button
{
	float:right;
	margin: 5px;
}
.group_entry
{
	cursor: pointer;
}
