
.idea/.name
.gitignore
.idea/codeStyleSettings.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/deployment.xml
.idea/copyright/profiles_settings.xml
.idea/checkyourdata_presta.iml
sftp-config.json
fr.php