.filters-panel {
    border-bottom: 1px solid #e1e1e1;
    display: inline-block;
    margin-bottom: 30px;
    padding-bottom: 20px;
    width: 100%;
}
.filters-panel label {
    float: left;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 10px;
	margin-top: 4px;
}
.view-mode {
    display: inline-block;
}
.view-modes {
    float: left;
}
.product-sort {
    float: left;
    text-align: right;
	margin-left: 30px;
}
.view-modes > a {
    border: 1px solid #cfcfcf;
    color: #a6a5a5;
    display: inline-block;
    float: left;
    font-size: 1em;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}
.view-modes > a.active, 
.view-modes > a:hover {
    background: #F4AD02 none repeat scroll 0 0;
    border-color: #F4AD02;
    color: #ffffff;
}
.product-sort {
    text-align: right;
}
.product-sort .sort-select a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #d8d7d7;
    color: #333333;
    font-size: 11px;
    font-weight: 500;
    height: 30px;
    line-height: 28px;
    min-width: 120px;
    padding: 0 10px;
	text-align: left;
	position: relative;
    text-transform: capitalize;
}
.product-sort .sort-select .arrow_triangle-down {
    border-left: 1px solid #dadada;
    color: #8f8f8f;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    margin-left: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: top;
    width: 30px;
}
.nbr-product {
    display: inline-block;
    float: left;
}
.nbr_form .nbrItemPage .nb_item {
	border: 1px solid #d8d7d7;
    color: #8f8f8f;
    font-family: "Montserrat";
    font-weight: 700;
    height: 30px;
    line-height: 29px;
    min-width: 60px;
    padding: 0 10px;
    width: 60px;
}
.list_info {
    display: none;
}
.rating-block {
    display: none;
}
.filters-panel-bottom {
    border-top: 1px solid #e1e1e1;
    display: inline-block;
    margin-top: 5px;
    padding-top: 25px;
    width: 100%;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background: #F4AD02;
    border-color: #F4AD02;
    color: #ffffff;
    cursor: default;
    z-index: 2;
}
.pagination > li > a, .pagination > li > span {    
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #d8d7d7;
    border-radius: 0 !important;
    color: #8f8f8f;
    float: left;
    font-family: "Montserrat";
    font-weight: 700;
    height: 29px;
    line-height: 27px;
    margin: 0 2.5px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 29px;
}
#pagination.pagination {
	display: block;
    vertical-align: middle;
    width: 100%;
}
.filters-panel-bottom #pagination.pagination {
    display: inline-block;
    float: right;
    width: auto;
}
.pagination{
	margin: 0;
}
.pagination > li > a:focus, 
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	background: #F4AD02;
    border-color: #F4AD02;
    color: #ffffff;
}
#pagination_next > a,
#pagination_previous > span,
#pagination_next > span,
#pagination_previous > a {	
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #d8d7d7;
    font-size: 12px;
    height: 29px;
    text-align: center;
    width: 29px;
}
#pagination_next > a:focus,
#pagination_next > a:hover,
#pagination_previous > span:hover,
#pagination_next > span:hover,
#pagination_previous > span:focus,
#pagination_next > span:focus,
#pagination_previous > a:hover,
#pagination_previous > a:focus{
	background: #F4AD02;
    border-color: #F4AD02;
    color: #ffffff;
}
.pagination > .disabled > a, 
.pagination > .disabled > a:focus, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > span, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > span:hover {	
	border:1px solid #ccc;
	background: none;
	display: none;
}
#pagination label {
	font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
    vertical-align: top;
}
#pagination_next b,
#pagination_previous b {
	font-size: 13px;
    font-weight: 400;
}
.products-list-in-row .compare {
	display:none;
}
.products-list-in-row .list_buttons .compare {
	display:block!important;
	float:right;
}

.product-container p.compare input {
    font-size: 0.92em;
    margin: 3px 2px 0 0;
}
.btn .caret {
    margin-left: 15px;
}
.compare label {
    font-size: 0.92em;
    font-weight: normal;
}
.filter_loader {	
	background: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#product_list {
	position:relative;
}
.filter_loader .img-loading {
	position:absolute;
	top:50px;
	left:50%;
	margin-left:-20px;
}
.delivery-info {
	display:none;
}
.products-list.products-list-in-row {
    margin: 0;
}
#product_list.products-list.products-list-in-row .ajax_block_product {
    padding: 0;
    width: 100%;
}
#product_list.products-list.products-list-in-row .ajax_block_product .product-preview .list_info {
    display: inline-block;
}
.products-list-in-row .product-preview .preview {
    float: left;
	width: 33.333%;
	overflow: hidden;
}
.products-list-in-row .product-info {
    float: right;
    padding: 25px 0 0 30px;
    width: 66.666%;
}
.products-list-in-row .features {
    margin-top: 0;
}
.products-list-in-row .product-preview .product-info > .title,
.products-list-in-row .product-preview .product-info > .content_price,
.products-list-in-row .product-preview .product-info > .rating,
.products-list-in-row .product-preview .product-info > .product_description_short,
.products-list-in-row .product-preview .product-info > .cart-button{
	display: none;
}
.products-list-in-row .product-preview .rating{
	border: 0;
	margin: 0;
	text-align: center;
	line-height: normal;
}
.products-list-in-row .nbcomments {
    display: inline-block;
    margin: 10px 0 0;
    width: 100%;
}
.list-info-right {
    text-align: left;
	padding: 0 15px;
}
.products-list-in-row .product-preview .list-info-left .title {
    margin-bottom: 16px;
}
.info-left {
    border-right: 1px dotted #e7e7e7;
}
.products-list-in-row .product_description_short {
    font-size: 0.92em;
    line-height: 26px;
	margin-top: 25px;
}
.products-list-in-row .feature_content {
    border: 1px solid #ebebeb;
    display: inline-block;
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 500;
    line-height: 33px;
    padding: 0 15px;
}
.products-list-in-row .feature_content.feature_days {
    margin-right: 15px;
}

.products-list-in-row .feature_content.feature_days::before {
    color: #f5b10c;
    content: "\f017";
    font-family: "FontAwesome";
    font-size: 17px;
    margin-right: 8px;
    vertical-align: middle;
}

.products-list-in-row .feature_content.feature_personals::before {
    color: #f5b10c;
    content: "\f0c0";
    font-family: "FontAwesome";
    font-size: 15px;
    margin-right: 8px;
    vertical-align: middle;
}