a:hover,
a:focus {
	color:#F27935;
}
.btn-default, .button_large {
    background: #F27935;
    border: 1px solid #F27935;
}
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.btn-mega:hover, 
.btn-mega:focus, 
.btn-mega:active {
	border-color: #F27935;
	color: #F27935;
}
select:focus, 
textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus,
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.inputbox:focus, select:hover, 
textarea:hover, 
input[type="text"]:hover, 
input[type="password"]:hover, 
input[type="datetime"]:hover, 
input[type="datetime-local"]:hover, 
input[type="date"]:hover, 
input[type="month"]:hover, 
input[type="time"]:hover, 
input[type="week"]:hover, 
input[type="number"]:hover, 
input[type="email"]:hover, 
input[type="url"]:hover, 
input[type="search"]:hover, 
input[type="tel"]:hover, 
input[type="color"]:hover, 
.inputbox:hover, 
select:active, 
textarea:active, 
input[type="text"]:active, 
input[type="password"]:active, 
input[type="datetime"]:active, 
input[type="datetime-local"]:active, 
input[type="date"]:active, 
input[type="month"]:active, 
input[type="time"]:active, 
input[type="week"]:active, 
input[type="number"]:active, 
input[type="email"]:active, 
input[type="url"]:active, 
input[type="search"]:active, 
input[type="tel"]:active, 
input[type="color"]:active, 
.inputbox:active{
	border-color: #F27935;
}
.btn-default.disabled, 
.btn-default.disabled.active, 
.btn-default.disabled:active, 
.btn-default.disabled:focus, 
.btn-default.disabled:hover, 
.btn-default[disabled], 
.btn-default.active[disabled], 
.btn-default[disabled]:active, 
.btn-default[disabled]:focus, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default, 
fieldset[disabled] .btn-default.active, 
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus, 
fieldset[disabled] .btn-default:hover{
	background: #F27935 none repeat scroll 0 0;
}
.dropcap.color {
    color: #F27935;
}
.color_mark {
    background-color: #F27935;
}
.styled-list li::before {
    color: #F27935;
}
#my-account .myaccount_lnk_list li a:hover {
    background: #F27935 none repeat scroll 0 0;
    border-color: #F27935;
}
.pagenotfound > #error-code {
    color: #F27935;
}
.topnav .jms-megamenu .nav > li.active > a {
    color: #F27935;
}
.topnav .jms-megamenu .nav > li > a::after {
    background: #F27935 none repeat scroll 0 0;
}
.topnav .jms-megamenu .nav > li > a:hover, 
.topnav .jms-megamenu .nav > li.open > a, 
.topnav .jms-megamenu .nav > li:hover > a{
	color: #F27935;
}
.topnav .dropdown-inner.no-mega .mega-nav > li a:hover,
.topnav .mega-nav > li > ul > li > ul > li.open a, 
.topnav .mega-nav > li > ul > li.open > a, 
.topnav .mega-nav > li.open > a, 
.topnav .mega-nav > li > ul > li > ul > li a:hover, 
.topnav .mega-nav > li > ul > li > a:hover, 
.topnav .mega-nav > li > a:hover {
    color: #F27935;
}
.quick-link li > a:hover {
    color: #F27935 !important;
}
.jms-megamenu .mega-nav li > a::before {
    color: #F27935;
}
.jms-megamenu .mega-nav > li.group > a::after {
    background: #F27935;
}
.box.ajax_cart_quantity {
    background: #F27935
}
#button_order_cart {
    border: 1px solid #F27935;
}
#button_order_cart:hover {
    background: #F27935;
}
.header-bar .menu-topbar a:hover, 
.header-bar .menu-topbar li.selected a {
    color: #F27935;
}
.header-right #user-dropdown-box.dropdown-menu li a:hover{
	color: #F27935;
}
.options-section .tabs-menu li a {
    background: #F27935 none repeat scroll 0 0;
}
.home-1 #jms_search_btn.btn-xs.search-toggle {
    background: #F27935 none repeat scroll 0 0;
}
.location-title .fa {
    color: #F27935;
}
.slider-product-title h3.title .icon-title::before {
    background: #F27935 none repeat scroll 0 0;
}
.product-preview .product-btn {
    border: 1px solid #F27935;
}
.product-preview .product-btn:hover {
    background: #F27935 none repeat scroll 0 0;
}
.product-preview .preview-button .product-btn {
    color: #F27935;
}
.preview-button .product-btn:hover {
    border-color: #F27935;
	background: #F27935 none repeat scroll 0 0;
	color: #191919;
}
.wrapper-label.wrapper-label-new {
    background: #F27935 none repeat scroll 0 0;
}
.service-box em{
	color:#F27935; 
}
.testimonials_img {
    border: 4px solid #F27935;
}
.anchor-text {
    color: #F27935;
}
.owl-theme .owl-controls .owl-nav div.owl-next:hover, 
.owl-theme .owl-controls .owl-nav div.owl-prev:hover {
    background: #F27935;
    border-color: #F27935;
}
.icon.star-full::after {
    color: #F27935;
}
.post-category > a {
    color: #F27935;
}
.post-meta li.post-created {
    background: #F27935 none repeat scroll 0 0;
}
.contact_address li i {
    color: #F27935;
}
.wraper-newsletter .input-group-addon {
    border-color: #F27935 !important;
    color: #F27935
}
.wraper-newsletter .input-group-addon:hover {
    background: #F27935 none repeat scroll 0 0;
}
.footer-block .block-content .find-us .divider:hover {
    background: #F27935 none repeat scroll 0 0;
}
.footer-block .title_block::before {
    background: #F27935;
}
.footer-block .block-content li:hover a, 

.footer-block .block-content li:hover a, 
.footer-block .block-content li:hover::before {
    color: #F27935;
}
.footer-block .block-content li:hover::before {
    color: #F27935;
}
footer div.tags_block p a:hover {
    background: #F27935;
    border-color: #F27935;
}
.back-to-top:hover {
    background: #F27935;
}
.view-modes > a.active, .view-modes > a:hover {
    background: #F27935 none repeat scroll 0 0;
    border-color: #F27935;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    background: #F27935 none repeat scroll 0 0;
    border-color: #F27935;
}
.pagination > li > a:focus, 
.pagination > li > a:hover, 
.pagination > li > span:focus, 
.pagination > li > span:hover {
    background: #F27935 none repeat scroll 0 0;
    border-color: #F27935;
}
.products-list-in-row .feature_content.feature_days::before,
.products-list-in-row .feature_content.feature_personals::before {
    color: #F27935;
}
.expander-list > li a.selected {
    color: #F27935;
}
.expander-list ul li a:hover, .expander-list > li a:hover {
    color: #F27935;
}
.ui-slider-horizontal .ui-slider-handle {
    background: #F27935 none repeat scroll 0 0 !important;
}
#layered_block_left .nomargin a span {
    color: #F27935;
}
.other-info > p::before {
    color: #F27935;
}
.features-value .feature_content.feature_days::before,
.features-value .feature_content.feature_personals::before {
    color: #F27935;
}
.check-options span {
    color: #F27935;
}
.price-area .price {
    color: #F27935;
}
.tabs-info .nav-tabs > li.active > a, 
.tabs-info .nav-tabs > li:hover > a, 
.tabs-info .nav-tabs > li:focus > a, 
.tabs-info .nav-tabs > li:active > a {
    color: #F27935;
}
.right-column .block .title_block::before {
    background: #F27935 none repeat scroll 0 0;
}
#faq_block_right .block_content a:hover {
    color: #F27935;
}
#cart_summary tfoot td#total_price_container,
#cart_summary tfoot td.total_price_container span {
    color: #F27935;
}
.address_title {
    background: #F27935 none repeat scroll 0 0;
    border-bottom: 1px solid #F27935;

}
ul.step li.step_current {
		background: #F27935 none repeat scroll 0 0;
		border-color: #F27935;
}
@media (min-width: 992px) {
      ul.step li.step_current span {
		background: #F27935 none repeat scroll 0 0;
		border-color: #F27935;
      }
}
.header-2 .header-bar {
    background: #F27935;
}
.header-2 .top-bar {
    background: #d86a2c;
}
.wrapper-options em {
    background: #F27935 none repeat scroll 0 0;
}
.wrapper-options em::after {
    box-shadow: 3px 3px #F27935;
}
.wrapper-location {
    background: #F27935 none repeat scroll 0 0;
}
.wrapper-location > a {
    background: #F7864A;
}
.wrapper-location > a:hover{
	color: #fff;
}
.info:hover {
    color: #F27935;
}
.home-2 .testimonials-new-carousel .owl-dot.active span {
    background: #F27935 none repeat scroll 0 0;
}
.blogsection .post-meta li.post-created {
    background: #F27935 none repeat scroll 0 0;
}
.blogsection .blog-readmore:hover {
    background: #F27935 none repeat scroll 0 0;
    border-color: #F27935;
}
.brand-section .slider-product-title h3.title .icon-title::before {
    background: #F27935;
}
.number-visits {
    color: #F27935;
}
.icon-building {
    background: rgba(0, 0, 0, 0) url("../img/color5/built.png") no-repeat scroll 0 0;
}
.icon-airplane {
    background: rgba(0, 0, 0, 0) url("../img/color5/airplane.png") no-repeat scroll 0 0;
}
.footer-2 .footer-block .title_block::before {
    background: #F27935 none repeat scroll 0 0;
}
.footer-2 .footer-block .block-content li:hover a, .footer-2 .footer-block .block-content li:hover::before {
    color: #F27935;
}
.footer-2 .wraper-newsletter .input-group-addon {
    background: #F27935 none repeat scroll 0 0;
    border-color: #F27935 !important;
}
.footer-2 .footer-block .block-content .find-us .divider:hover a {
    color: #F27935;
}
.options-section .tab-content .btn.btn-default.btn-checknow{
	border-color: #F27935;
}
.options-section .tab-content .btn.btn-default.btn-checknow:hover {
    background: #f27935 none repeat scroll 0 0;
}