/* Block best sellers */
#best-sellers_block_right .slider-products-title span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
	line-height: 35px;
	padding: 0;
}
#best-sellers_block_right .slider-products-title > h3 {
    margin-top: 0;
    text-align: left;
	width: 100%;
	border: none;
}
#best-sellers_block_right .slider-products-title {
    border-bottom: 1px solid #dedede;
    border-top: 0 none;
	margin-top: -10px;
	margin-bottom: 15px;
}
#best-sellers_block_right ul {margin-bottom:5px}
#best-sellers_block_right li {
	border-bottom: 1px solid #f0f0f0;
    float: none;
    padding: 20px 0;
}
#best-sellers_block_right li:first-child {    
}
#best-sellers_block_right li.last_item {border:none}
#best-sellers_block_right li a.content_img {
	display: block;
    float: left;
    margin-bottom: 0;
    margin-right: 15px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}
#best-sellers_block_right li a.content_img img{
	width: 100%;
}
.info-product {
    float: left;
	width: calc(100% - 115px);
}
.info-product > a {
    color: #292929;
    font-size: 1.07em;
    margin-bottom: 5px;
    display: block;
}
.info-product > a:hover{
	color: #DF0024;
}
#best-sellers_block_right .rating {
    margin-bottom: 5px;
}
.content-aside #best-sellers_block_right.block  a {
    color: #111111;
    display: block;
    font-size: 15px;
    font-weight: 500 !important;
    margin-bottom: 3px;
}
#best-sellers_block_right li p {
	float: left;
    font-size: 12px;
    font-weight: bold;
	padding: 10px 0 0 20px;
    width: 50%;
}
#best-sellers_block_right li .price {
    display: block;
}

#best-sellers_block_right p.lnk {
	padding: 20px 0 10px;
    text-align: center;
}
#best-sellers_block_right .lnk .button_large {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #0088cc;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    text-transform: uppercase;
	background: linear-gradient(#27a8e8, #0088cc) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
}
#best-sellers_block_right .lnk .button_large:hover {text-decoration:none}
.jcarousel-item a {
    color: #3c3f44;
    display: block;
    font-size: 14px;
	 margin-bottom: 12px;
}