@media only screen and (min-width: 768px) {
.wk_product_details .wk_details{
  float: left;
  width: 60%;
}
.wk_product_details .wk_image{
  float: left;
  width: 40%;
  text-align: center;
}
}
@media only screen and (max-width: 768px) {
.wk_product_details .wk_details{
  float: left;
  width: 100%;
}
.wk_product_details .wk_image{
  float: left;
  width: 100%;
  text-align: center;
}
}

.wk_product_details{
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.wk_details .wk_row{
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.wk_label{
  float: left;
  width: 100%;
  font-weight: bold;
  margin-bottom: 5px;
}
.wk_value{
  float: left;
  width: 100%;
}
#image_details
{
  float:left;
  width:100%;
  background-color:#ffffff;
}
#image_details table {
    border: 0 none;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
    width: 100%;
}
#image_details table tr th 
{
     background: -moz-linear-gradient(center top , #F9F9F9, #ECECEC) repeat-x scroll left top #ECECEC;
    color: #333333;
    font-size: 13px;
    padding: 4px 6px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
}
#image_details table tr td {
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    font-size: 12px;
    padding: 4px 4px 4px 6px;
    text-align: center;
}
.wk_head{
   border-bottom: 1px solid #C4C1BC;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: right;
    width: 100%;
    text-transform: uppercase;
}